In [24]:
import pandas as pd

In [25]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

# Load the dataset
data = pd.read_csv('Admission_Predict_Ver1.1.csv')

# Split the dataset into features and target variable
X = data.iloc[:,1:8]  # Features
y = data['Chance of Admit '] 

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the XGBoost regressor
model = XGBRegressor()

# Train the model
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 0.005180152550396941

In [26]:
from sklearn.metrics import r2_score

# Calculate R-squared score
r2 = r2_score(y_test, y_pred)
print('R-squared score:', r2)

R-squared score: 0.7466918068265556

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

# Initialize models
linear_reg = LinearRegression()
random_forest_reg = RandomForestRegressor(n_estimators=100, random_state=42)
gradient_boost_reg = GradientBoostingRegressor(n_estimators=100, random_state=42)

# List of models
models = [linear_reg, random_forest_reg, gradient_boost_reg]
model_names = ['Linear Regression', 'Random Forest', 'Gradient Boosting']

# Train and evaluate models
for model, name in zip(models, model_names):
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    print(f'{name} MSE: {mse}')
    r2 = r2_score(y_test, y_pred)
    print('R-squared score:', r2)

Linear Regression MSE: 0.003704655398788405
R-squared score: 0.8188432567829631
Random Forest MSE: 0.004346617800000005
R-squared score: 0.7874514523227382
Gradient Boosting MSE: 0.0044618891653490774
R-squared score: 0.7818147107408765

In [28]:
import pickle

In [29]:
random_forest_reg = RandomForestRegressor(n_estimators=100, random_state=42)
random_forest_reg = random_forest_reg.fit(X_train, y_train)

In [30]:
pickle.dump(random_forest_reg, open('model1.pkl','wb'))

In [31]:
X_test.shape

(100, 7)

In [32]:
X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
495        332          108                  5  4.5   4.0  9.02         1
496        337          117                  5  5.0   5.0  9.87         1
497        330          120                  5  4.5   5.0  9.56         1
498        312          103                  4  4.0   5.0  8.43         0
499        327          113                  4  4.5   4.5  9.04         0

[500 rows x 7 columns]